<div class="footer bg-light" style="bottom: 0; text-align: center; width: 100%; position: fixed;">
    <hr>
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Registration</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Catalog</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About us</a></li>
        </ul>
        <h4 class="nav justify-content-center"><strong>PHOTO ALBUM</strong></h4>
    </footer>
</div>
