<div class="container">
    <div class="box">
        <img src="https://images.pexels.com/photos/4234321/pexels-photo-4234321.jpeg?cs=srgb&dl=pexels-jackson-david-4234321.jpg&fm=jpg" style="width: 100%;" alt="">
    </div>
    <div class="text">
        <h2>Lorem Ipsum</h2>
        <p>Phasellus ipsum dui, ultricies nec pellentesque sed, semper nec mauris. Mauris odio massa, 
            viverra sed rutrum sed, ultrices vel erat. Curabitur vehicula velit vitae est accumsan 
            blandit nec vel velit. Integer in cursus sem. Vivamus ut accumsan massa, nec auctor lacus.
             Aenean lacinia venenatis ipsum vel ornare. Aliquam molestie aliquet turpis sed interdum.
              Maecenas non ultrices justo.</p>
              <p>Phasellus ipsum dui, ultricies nec pellentesque sed, semper nec mauris. Mauris odio massa, 
                viverra sed rutrum sed, ultrices vel erat. Curabitur vehicula velit vitae est accumsan 
                blandit nec vel velit. Integer in cursus sem. Vivamus ut accumsan massa, nec auctor lacus.
                 Aenean lacinia venenatis ipsum vel ornare. Aliquam molestie aliquet turpis sed interdum.
                  Maecenas non ultrices justo.</p>
                  <br>
                  <br>
                  <br>
                  <br>
    </div>
    
</div>


