/* .text {
    position: absolute;
    margin-top: -750px;
    z-index: 0;
} */

/* @media (max-width: 575.98px) { 
    .box {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
 } */

